<launch>

    <arg name="hz" default="10"/>
    <arg name="remap_topic_name" default="remapped_tutorial_string_topic"/>

    <node pkg="topic_tutorial" type="subscriber.py" name="launch_tutorial_subscriber" output="screen">
        <remap from="/tutorial_string_topic" to="$(arg remap_topic_name)"/>
    </node>

</launch>